<!--public/img/cheir.svg-->
<!DOCTYPE html>
<html>
    <head>
        <title>Products</title>
        <script src="https://kit.fontawesome.com/ebbaf8c785.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../public/style/all.css">
    </head>
    <body>
        <header class="header">
            <div class="left-header">
                <img src="./public/img/img.svg" alt="">
            </div>
            <div class="right-header">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" placeholder="Search">
            </div>
        </header>

        <div class="nav">
            <p>Home > <%=link%></p>
        </div>

        <div class="products">
            <div class="category">
                <h1>Chairs</h1>
                <a class="addProduct" href="/newProduct"><i class="fa-light fa-plus"></i> Добавить продукт</a>
            </div>
            <div class="elements">
                <%
                    data.forEach(item => {
                %>
                    <div class="elem">
                        <div class="sale"><%=item.sale%>%</div>
                        <i class="fa-regular fa-heart"></i>
                        <img src="<%=item.urlOfImage%>" alt="">
                        <p><%=item.title%></p>
                        <p><%=item.price%> $</p>
                        <button class="fa-solid fa-ellipsis" onclick="openChangeMenu(this)"></button>
                        <a href="/productDetail/<%=item._id%>" class="plus"><i class="fa-light fa-plus"></i></a>
                        <div class="changeMenu">
                            <a href="/editProduct/<%=item._id%>">Редактировать</a>
                            <a href="/delete/<%=item._id%>">Удалить</a>
                        </div>
                    </div>
                <%
                    })
                %>
            </div>
        </div>
        <script>

            function openChangeMenu(button){
                let m = button.parentNode.querySelector('.changeMenu');
                if(m.style.display == 'flex'){
                    m.style.display = 'none';
                }else{
                    m.style.display = 'flex';
                }
            }
        </script>
    </body>
</html>